.addServicePage {
  background-image: url(../../../src//assets/backgroundImages/website-rays-background-pattern-1637863.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 199px);
  width: 100%;
}
