.profilepic {
  display: flex;
  width: 85px;
  height: 85px;
  margin-top: 45px;
}
.profilepic img {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #42b7d0;
  aspect-ratio: 1 / 1;
}

.sessionUserProfilepic {
  display: flex;
  width: 60px;
  height: 60px;
}

.sessionUserProfilepic img {
  border-radius: 50%;
  object-fit: scale-down;
  border: 2px solid #42b7d0;
}
