@media screen and (max-width: 425px) {
  .formNavigation {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 20px;
  }
}

.button-basic-registration {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
