.sessionGallery {
  background-image: url(../../../assets/backgroundImages/website-rays-background-pattern-1637863.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
