.mainPage {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100vw;
}

.mainPageLoading {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100vw;
}

.filterContainer {
  background-color: #ccd1d1;
}
