.login-page-container {
  background-image: url(../../assets/backgroundImages/pexels-eberhard-grossgasteiger-629162.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.login-logo-container {
  min-width: 50%;
  max-width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container {
  min-width: 50%;
  max-width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-fotofi-logo {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .login-logo-container {
    display: none;
    width: 0vw;
  }
  .login-form-container {
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
  }
  .login-page-container {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
