.cardImg {
  border-radius: 0.5rem;
}

.serviceCard {
  border-color: rgba(0, 0, 0, 0.153) !important;
  border-width: 1px !important;
  border-style: solid;
}

.serviceCard-selected {
  border-color: rgba(22, 143, 16, 0.52) !important;
  border-width: 3px !important;
  border-style: solid;
}
