.profile-main-box {
  position: relative;
  margin-left: 2vw;
  width: 70vw;
}

.css-11yukd5-MuiTabs-indicator {
  background-color: #42b7d0;
}

.css-1rbw7q5-MuiButtonBase-root-MuiTab-root {
  color: #42b7d0;
}
.MuiTab-textColorPrimary {
  color: #42b7d0;
}

.Mui-selected {
  color: #42b7d0;
}
