.first-container {
  background-image: url(../../assets/backgroundImages/fondo_morado.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  width: 100vw;
}

.second-container {
  background-color: #fbf8fc;
  background-size: cover;
  background-repeat: no-repeat;
  height: 42vh;
  width: 100vw;
}

.popular-services-container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: left;
}

.third-container {
  background-image: url(../../assets/backgroundImages/fondo_morado.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.fourth-container {
  width: 100vw;
}

.fifth-container {
  background-image: url(../../assets/backgroundImages/fondo_morado_rotated.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

.sixth-container {
  height: 95vh;
  width: 100vw;
}
.seventh-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100vw;
}
.workFlow {
  height: 100%;
}

.title {
  text-shadow: 2px 2px 8px #350c0c95;
  font-weight: bolder;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.photographers-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.works-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .photographers-container {
    flex-wrap: wrap;
  }
}
.popular-services {
  display: flex;
  background-image: url(../../assets/backgroundImages/fondo_morado_small.png);
  border-radius: 1rem;
  background-size: cover;
  font-weight: 800 !important;
  color: white;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 8px #350c0c95;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.best-experience,
.photographer-offer {
  display: flex;
  font-weight: 800 !important;
  justify-content: center;
  text-align: left;
  text-shadow: 2px 2px 8px #350c0c95;
  padding: 2rem;
  font-size: 3rem;
}

@media only screen and (max-width: 900px) {
  .best-experience,
  .photographer-offer {
    display: flex;
    font-weight: 800 !important;
    justify-content: center;
    text-align: left;
    text-shadow: 2px 2px 8px #350c0c95;
    padding: 2rem;
    font-size: 2rem !important;
  }
}

.attributes-picture {
  max-width: 30vw;
  min-width: 450px;
}
@media only screen and (max-width: 900px) {
  .attributes-picture {
    min-width: 320px;
    width: 80vw;
  }
}

.explore-photographers-text,
.best-jobs-text {
  font-weight: 800 !important;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 8px #350c0c95;
  font-size: 3rem !important;
}
@media only screen and (max-width: 900px) {
  .explore-photographers-text,
  .best-jobs-text {
    font-size: 2rem !important;
  }
}

.hero-pic {
  position: absolute;
  right: 20px;
  bottom: -20px;
  height: 600px;
}
@media only screen and (max-width: 900px) {
  .hero-pic {
    height: 300px;
  }
}
.random-image {
  border-radius: 0.5rem;
  margin: 2rem;
  height: 12rem;
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.property-item {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.property-container {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (min-width: 900px) {
  .property-container {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    height: 40vh;
  }
}
.service-card {
  max-width: 300px !important;
}

.service-picture {
  max-width: 200px;
}
