@media screen and (max-width: 425px) {
  .formAddservicePaper {
    width: 90% !important;
    margin: auto;
  }

  .formAddService {
    padding-left: none !important;
    width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 426px) {
  .formAddservicePaper {
    width: 60% !important;
    margin: auto;
  }
}

@media screen and (min-width: 769px) {
  .formAddservicePaper {
    width: 30% !important;
    margin: auto;
  }
}

@media screen and (max-width: 425px) {
  .formPersonalDataList {
    padding-left: none !important;
  }
}

.formAddService {
  width: 85%;
}
