.profile-user-subtext {
  display: flex;
  color: #656565;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
